<div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel panel-heading clearfix">
          <div class="pull-left">
            <h4>Contacts</h4>
          </div>        
          <span class="pull-right">
            <a routerLink="new" class="btn btn-success">New Contact</a>          
          </span>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <cms-contact-item
              *ngFor="let contactEl of contacts"
              [contact]="contactEl"
              [routerLink]="contactEl.id"></cms-contact-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- (contactSelected)="onContactSelected(contactEl)"></cms-contact-item> -->