<div class="panel panel-default contact-detail-panel">
    <div class="panel-heading col-sm-12">
        <h3>{{contact.name}}</h3>
        <div class="col-sm-4 contact-list-imgs">
            <img 
            class="img-responsive" 
            src="{{ contact.imageUrl }}" 
            alt="{{ contact.name }}"
            style="max-width: 50px;">
        </div>
        <span class="pull-right">
        <div class="contact-detail-btns">
            <a role="button" class="btn btn-primary" routerLink="edit">Edit</a>
            <a role="button" class="btn btn-danger" (click)="onDelete()">Delete</a>
        </div>
        </span>
    </div>
    <div class="panel-body">
        <p>Email: {{contact.email}}</p>
        <p>Phone: {{contact.phone}}</p>
    </div>
</div>